@model BlindVacationFullstack.Models.User
<!DOCTYPE html>   
<html>
<head>
    <title></title>
</head>
<body>
    <a asp-action = "Create"> New User </a> 
    <form asp-action="Index">
        <fieldset>
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" />
        </fieldset>
        <fieldset>
            <label asp-for="@Model.FaveTripItem">What is your favorite TripItem?</label>
            <select asp-for="@Model.FaveTripItem" 
                    asp-items="@Html.GetEnumSelectList(typeof(BlindVacationFullstack.Models.User.TripItem))"></select>
        </fieldset>
        <button type="submit" value="Details">Login</button>
    </form>
</body>
</html> 