@model BlindVacationFullstack.Models.ViewModels.EditTripViewModel

<h2>@Model.City.Name</h2>
<p>@Model.City.Description</p>

<img src="@Model.City.ImgUrl" />

<h3>@Model.Hotel.Name</h3>
<img src="@Model.Hotel.ImgUrl" />

<h4>@Model.Activity.Name</h4>

<form>
    <input type="hidden" asp-for="@Model.AnswerCode" />
    <input type="hidden" asp-for="@Model.City.Name" />
    <input type="hidden" asp-for="@Model.User.ID" value="1" />
    <input asp-for="@Model.SavedTrip.VacationName" />
    <button type="submit">Save Your Vacation!</button>
</form>

<form>
    <button type="submit">Retake the Survey</button>
</form>