@model BlindVacationFullstack.Models.ViewModels.EditTripViewModel

<h2>@Model.City.Name</h2>
<p>@Model.City.Description</p>

<img src="@Model.City.ImageUrl" />

<h3>@Model.Hotel.Name</h3>
<img src="@Model.Hotel.ImageUrl" />
@{ 
    int count = 2;
}

@foreach (var item in Model.Activities)
{
    if (count % 2 == 0)
    {
    <h5>@item</h5>
    }
    else
    {
        <p>@item</p>
    }
}

<form asp-action="Details">
    <input type="hidden" asp-for="AnswerCode" value="@Model.AnswerCode" />
    <div>
        <input type="hidden" asp-for="CityName" value="@Model.City.Name" />
    </div>
    <div>
        <input type="hidden" asp-for="UserID" value="@Model.User.ID" />
    </div>
    <fieldset>
        <label asp-for="VacationName"> Add a name to your vacation:</label>
        <input asp-for="VacationName" value="" />
    </fieldset>
    <button type="submit">Save Your Vacation!</button>
</form>

<form asp-action="Index">
    <button type="submit">Retake the Survey</button>
</form>