@model BlindVacationFullstack.Models.ViewModels.EditTripViewModel

<h2>@Model.City.Name</h2>
<p>@Model.City.Description</p>

<img src="@Model.City.ImgUrl" />

<h3>@Model.Hotel.Name</h3>
<img src="@Model.Hotel.ImgUrl" />

<h4>@Model.Activity.Name</h4>

<form asp-action="Details">
    <input type="hidden" asp-for="AnswerCode" value="@Model.AnswerCode" />
    <div>
    <input type="hidden" asp-for="CityName" value="@Model.City.Name" />
    </div>
    <div>
    <input type="hidden" asp-for="UserID" value="@Model.User.ID" />
    </div>
    <fieldset>
        <label asp-for="VacationName"> Add a name to your vacation:</label>
    <input asp-for="VacationName" value="" />
    </fieldset>
    <button type="submit">Save Your Vacation!</button>
</form>

<form asp-action="Index">
    <button type="submit">Retake the Survey</button>
</form>